<table border="1" class="dataframe">
  <thead>
    <tr>
      <th></th>
      <th colspan="8" halign="left">Price</th>
      <th colspan="8" halign="left">Quantity</th>
    </tr>
    <tr>
      <th></th>
      <th colspan="4" halign="left">len</th>
      <th colspan="4" halign="left">sum</th>
      <th colspan="4" halign="left">amax</th>
      <th colspan="4" halign="left">mean</th>
    </tr>
    <tr>
      <th>Status</th>
      <th>declined</th>
      <th>pending</th>
      <th>presented</th>
      <th>won</th>
      <th>declined</th>
      <th>pending</th>
      <th>presented</th>
      <th>won</th>
      <th>declined</th>
      <th>pending</th>
      <th>presented</th>
      <th>won</th>
      <th>declined</th>
      <th>pending</th>
      <th>presented</th>
      <th>won</th>
    </tr>
    <tr>
      <th>Product</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>CPU</th>
      <td>3</td>
      <td>1</td>
      <td>2</td>
      <td>3</td>
      <td>135000</td>
      <td>40000</td>
      <td>60000</td>
      <td>230000</td>
      <td>2</td>
      <td>2</td>
      <td>1</td>
      <td>5</td>
      <td>1.333333</td>
      <td>2.000000</td>
      <td>1</td>
      <td>3</td>
    </tr>
    <tr>
      <th>Maintenance</th>
      <td>0</td>
      <td>3</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>15000</td>
      <td>0</td>
      <td>7000</td>
      <td>0</td>
      <td>2</td>
      <td>0</td>
      <td>3</td>
      <td>0.000000</td>
      <td>1.666667</td>
      <td>0</td>
      <td>3</td>
    </tr>
    <tr>
      <th>Monitor</th>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>5000</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>2</td>
      <td>0</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>2</td>
      <td>0</td>
    </tr>
    <tr>
      <th>Software</th>
      <td>0</td>
      <td>0</td>
      <td>3</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>30000</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>1</td>
      <td>0</td>
    </tr>
  </tbody>
</table>